In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/houkongtest/stock_train_data.csv
/kaggle/input/houkongtest/stock_test_data.csv

In [3]:
data = pd.read_csv("/kaggle/input/houkongtest/stock_train_data.csv")

data

,id,date,open,high,low,close,volume,adj_close
0,1,2020-01-01,104.137445,105.336570,101.888063,103.452150,94093,102.546070
1,2,2020-01-02,102.030543,102.243290,100.160189,101.423024,101968,101.260087
2,3,2020-01-03,97.250072,97.450643,96.624196,98.168974,103752,97.330620
3,4,2020-01-04,92.592000,94.713176,89.907974,92.024300,104207,92.640590
4,5,2020-01-05,89.850982,90.289664,88.027048,91.130187,94854,91.772165
...,...,...,...,...,...,...,...,...
1495,1496,2024-02-04,-21.151421,-20.764677,-23.282672,-21.673139,53469,-21.670244
1496,1497,2024-02-05,-18.697602,-18.685963,-20.843889,-18.447026,51435,-18.495587
1497,1498,2024-02-06,-14.312172,-13.467672,-17.200586,-12.386975,58108,-12.287926
1498,1499,2024-02-07,-9.496567,-7.847834,-9.859621,-11.494308,48258,-11.392723
1499,1500,2024-02-08,-10.712037,-9.623594,-12.409123,-9.966321,46262,-9.995735

In [4]:
data = data.drop(columns = ['id', 'date', 'adj_close'])

data

            open        high         low       close  volume
0     104.137445  105.336570  101.888063  103.452150   94093
1     102.030543  102.243290  100.160189  101.423024  101968
2      97.250072   97.450643   96.624196   98.168974  103752
3      92.592000   94.713176   89.907974   92.024300  104207
4      89.850982   90.289664   88.027048   91.130187   94854
...          ...         ...         ...         ...     ...
1495  -21.151421  -20.764677  -23.282672  -21.673139   53469
1496  -18.697602  -18.685963  -20.843889  -18.447026   51435
1497  -14.312172  -13.467672  -17.200586  -12.386975   58108
1498   -9.496567   -7.847834   -9.859621  -11.494308   48258
1499  -10.712037   -9.623594  -12.409123   -9.966321   46262

[1500 rows x 5 columns]

In [5]:
X = data.drop(columns = ['close'])
y = data['close']

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [25]:
regressor = RandomForestRegressor(n_estimators=200,criterion='squared_error',max_depth=50)
regressor.fit(X, y)

RandomForestRegressor(max_depth=50, n_estimators=200)

In [ ]:
'''
import numpy as np
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

def random_forest_regressor_cross_validation(X, y, n_splits=5, n_estimators=200, max_depth=50, random_state=None):
    """
    Performs k-fold cross-validation for a Random Forest Regressor.

    Args:
        X (numpy.ndarray): The feature matrix.
        y (numpy.ndarray): The target vector.
        n_splits (int): The number of folds for cross-validation. Default is 5.
        n_estimators (int): The number of trees in the Random Forest. Default is 200.
        max_depth (int): The maximum depth of the trees in the Random Forest. Default is 50.
        random_state (int or None): Random seed for reproducibility. Default is None.

    Returns:
        tuple: A tuple containing:
            - mean_rmse (float): The mean RMSE across all folds.
            - std_rmse (float): The standard deviation of the RMSE across all folds.
            - mean_r2 (float): The mean R-squared across all folds.
            - std_r2 (float): The standard deviation of the R-squared across all folds.
            - all_rmse (list): A list of RMSE for each fold.
            - all_r2 (list): A list of R-squared for each fold.
    """

    kf = KFold(n_splits=n_splits, shuffle=True, random_state=random_state)
    all_rmse = []
    all_r2 = []

    for train_index, val_index in kf.split(X):
        X_train, X_val = X[train_index], X[val_index]
        y_train, y_val = y[train_index], y[val_index]

        # Initialize and train the Random Forest Regressor model
        regressor = RandomForestRegressor(n_estimators=n_estimators,
                                            criterion='squared_error',
                                            max_depth=max_depth,
                                            random_state=random_state)
        regressor.fit(X_train, y_train)

        # Make predictions on the validation set
        y_pred = regressor.predict(X_val)

        # Calculate the metrics
        rmse = np.sqrt(mean_squared_error(y_val, y_pred))
        r2 = r2_score(y_val, y_pred)

        all_rmse.append(rmse)
        all_r2.append(r2)

    # Calculate the mean and standard deviation of the metrics
    mean_rmse = np.mean(all_rmse)
    std_rmse = np.std(all_rmse)
    mean_r2 = np.mean(all_r2)
    std_r2 = np.std(all_r2)

    return mean_rmse, std_rmse, mean_r2, std_r2, all_rmse, all_r2

if __name__ == '__main__':
    # Generate some dummy data for demonstration
    X = np.random.rand(100, 10)  # 100 samples, 10 features
    y = np.random.rand(100)  # Regression target

    # Perform cross-validation
    mean_rmse, std_rmse, mean_r2, std_r2, all_rmse, all_r2 = random_forest_regressor_cross_validation(X, y)

    # Print the results
    print("All RMSE:", all_rmse)
    print("Mean RMSE:", mean_rmse)
    print("Standard deviation of RMSE:", std_rmse)
    print("All R-squared:", all_r2)
    print("Mean R-squared:", mean_r2)
    print("Standard deviation of R-squared:", std_r2)
'''

In [16]:
test = pd.read_csv("/kaggle/input/houkongtest/stock_test_data.csv")
test

           date       open       high        low  volume  adj_close
0    2024-02-09  64.217540  67.120519  62.056126  109241  63.473761
1    2024-02-10  63.996529  66.075604  63.633681  105939  65.039274
2    2024-02-11  62.983233  64.875152  61.678532  105692  65.083193
3    2024-02-12  63.023560  64.535805  61.275462   99532  64.323752
4    2024-02-13  64.880834  66.720266  64.708353  103976  66.364234
..          ...        ...        ...        ...     ...        ...
495  2025-06-18  29.048598  30.268272  28.232786  144479  28.705003
496  2025-06-19  30.670911  32.326131  27.826621  143250  28.947784
497  2025-06-20  29.426022  31.409296  27.348696  135449  28.192249
498  2025-06-21  26.292295  27.369338  26.042563  139356  24.342610
499  2025-06-22  31.124414  33.822264  28.919599  132299  29.777806

[500 rows x 6 columns]

In [18]:
test = test.drop(columns = ['date', 'adj_close'])

In [19]:
test

          open       high        low  volume
0    64.217540  67.120519  62.056126  109241
1    63.996529  66.075604  63.633681  105939
2    62.983233  64.875152  61.678532  105692
3    63.023560  64.535805  61.275462   99532
4    64.880834  66.720266  64.708353  103976
..         ...        ...        ...     ...
495  29.048598  30.268272  28.232786  144479
496  30.670911  32.326131  27.826621  143250
497  29.426022  31.409296  27.348696  135449
498  26.292295  27.369338  26.042563  139356
499  31.124414  33.822264  28.919599  132299

[500 rows x 4 columns]

In [26]:
pred = regressor.predict(test)

In [27]:
pred

array([ 65.88309338,  66.39172059,  64.34817876,  64.27453688,
        66.7101747 ,  70.36956468,  70.57373435,  70.45088131,
        70.20280803,  66.90309061,  66.8810902 ,  62.76358052,
        64.58509532,  66.22001869,  63.78849072,  66.76548866,
        71.41542207,  70.86867245,  69.32544716,  69.61247925,
        73.1914825 ,  70.60990394,  68.32308652,  63.64059269,
        63.46348952,  67.23837757,  63.80506713,  65.54680253,
        66.62161284,  62.66430211,  57.23056588,  63.17079823,
        65.85640183,  69.60562517,  69.76692102,  65.65543648,
        58.83584422,  64.11536866,  59.07945918,  64.49636809,
        63.66891801,  63.32322478,  57.65519703,  59.23329149,
        57.62372536,  56.4323362 ,  58.62047726,  61.39506015,
        58.69822838,  56.45597314,  58.65229877,  64.10846787,
        63.14264598,  65.43847498,  68.09600378,  68.75191458,
        70.83602125,  73.05725683,  76.68907463,  81.15116968,
        80.87735577,  81.49788409,  83.8624678 ,  85.13548832,
        79.83518979,  76.71753818,  81.98433266,  84.32585291,
        85.2237491 ,  85.57354554,  82.69920468,  83.37320301,
        80.44217293,  79.51202854,  79.35852175,  77.59549022,
        79.97232986,  83.55053715,  88.33815144,  85.46436656,
        89.5445437 ,  91.48591422,  93.76597339,  95.96156562,
       100.78273764,  96.28017986,  93.46916102,  92.49251221,
        94.32760623,  92.10404414,  89.45281114,  93.9474377 ,
        96.78634326,  93.81611676,  94.29427395,  89.04975375,
        88.11712719,  85.57730257,  90.08589178,  86.5154562 ,
        87.58872128,  82.88848432,  80.04421496,  79.69697972,
        83.12386178,  83.15701923,  87.81530442,  86.36908439,
        93.22084329,  93.39339575,  93.74915127,  96.89729358,
        98.51409971,  98.76358629,  99.1581583 ,  98.40578711,
        96.07209558,  93.67382446,  94.68203548,  93.72607755,
        88.96952695,  85.07721948,  83.91849352,  80.08545686,
        76.22566407,  78.13429323,  80.80778274,  83.46215082,
        87.86210697,  83.42684567,  87.81431967,  85.66291714,
        83.71985022,  79.75150017,  79.10608884,  83.02019005,
        81.04578871,  83.24748784,  83.13069128,  77.74829333,
        79.76552552,  85.01150138,  87.76417712,  88.32407751,
        83.31179313,  83.44968764,  80.48662723,  80.70622898,
        80.57195657,  81.68679796,  80.95566424,  83.88358633,
        79.57407336,  79.96120962,  77.1162535 ,  80.41907419,
        79.61209966,  79.79098768,  75.99281811,  80.59670204,
        73.98329814,  77.77899711,  74.06383454,  71.49105072,
        74.02581914,  76.69257218,  74.55313589,  70.17342475,
        71.43997611,  70.34276608,  69.59085668,  66.8843859 ,
        67.04554524,  68.12376482,  67.50210535,  66.51177403,
        69.64170053,  67.26108511,  65.92081022,  64.23056973,
        58.40516722,  63.83917093,  59.05475418,  63.19763434,
        62.07465812,  57.33170104,  52.88560781,  54.9130197 ,
        52.09382735,  56.80030369,  57.56267469,  50.44559775,
        51.5415543 ,  54.88253689,  57.16356901,  54.39031273,
        51.96740466,  52.82098309,  55.17821187,  50.35611974,
        56.79738585,  52.35670721,  50.45119137,  51.62627323,
        54.02108298,  51.57871864,  52.40552835,  57.63391078,
        52.45639838,  51.97508805,  54.3557267 ,  52.34301697,
        51.46617078,  47.68284278,  44.1042542 ,  43.80133925,
        44.3660625 ,  45.8280374 ,  50.62879562,  50.65144842,
        51.55841638,  47.68924146,  48.9026337 ,  51.29666272,
        52.02329382,  51.94605677,  57.37704478,  51.63344871,
        52.20079688,  51.62088037,  52.55204135,  52.66525588,
        50.17999956,  54.20693219,  54.36327372,  57.6616617 ,
        51.32612414,  57.07601831,  53.41449306,  52.64531593,
        50.58286344,  52.43402409,  48.71044783,  48.8709636 ,
        46.82871836,  49.1569097 ,  45.05715204,  45.54479166,
        45.29520267,  49.3688074 ,  51.2748512 ,  51.45680273,
        51.39798062,  47.78589173,  50.50151971,  46.16697073,
        46.47937391,  45.2075766 ,  45.18952318,  46.3144612 ,
        46.47032037,  51.42180445,  48.24726359,  47.91493462,
        44.862199  ,  46.12791291,  46.69763434,  41.95445209,
        39.34084574,  40.00716536,  39.4336629 ,  42.2951652 ,
        46.28775046,  50.48237894,  56.01409954,  50.46014977,
        52.50798509,  57.63315051,  63.25880299,  59.05551266,
        59.06908152,  53.61688627,  57.5308538 ,  55.69764331,
        58.71319221,  58.58489088,  57.04027611,  55.88040926,
        57.1666275 ,  57.3830034 ,  57.6034022 ,  61.04333802,
        57.52436645,  51.50852293,  50.63469874,  51.27771433,
        56.26156128,  54.2858394 ,  58.81697476,  57.30404847,
        51.76812659,  50.79676537,  50.77446914,  52.61865173,
        50.48205776,  48.02366603,  45.89746317,  45.07368286,
        39.83890808,  40.9797908 ,  35.98116597,  35.77755955,
        30.90141778,  33.41570288,  37.31113092,  33.70181187,
        37.58363075,  32.26876566,  35.50305119,  39.60750959,
        39.79394504,  38.31524976,  35.372943  ,  32.49506568,
        35.02120122,  39.25534806,  32.91094003,  32.1745013 ,
        30.9180651 ,  30.97382796,  33.74306265,  36.207292  ,
        39.7199351 ,  35.99663509,  35.28381834,  38.27015936,
        39.10002142,  36.17835367,  36.94040944,  31.90437642,
        30.18514797,  32.84807754,  38.25227756,  33.60011929,
        35.37519072,  33.13513269,  29.55196621,  31.18420501,
        27.83602197,  23.35161334,  21.72510707,  17.67348614,
        17.49083936,  17.81007931,  18.91138537,  17.77908132,
        15.09349092,  13.76558875,   7.52177576,  13.87253551,
         9.46033132,   9.51300835,   7.68015583,   5.77554538,
         6.64572815,   9.64322253,   8.74064399,   4.67962761,
         2.12205352,  -2.60442367,  -3.06197677,   2.27345294,
         7.4436259 ,  12.27575185,  15.73180812,  11.03892675,
        13.99736148,  17.31905597,  17.57704429,  17.76615821,
        22.1586458 ,  18.84819466,  17.98659805,  17.72411724,
        13.45070146,  14.16642853,   9.79908527,   5.88076719,
         9.23531418,   9.93842408,   7.10765649,  10.48272773,
        13.38479975,  12.40698352,   7.48532089,  11.54754916,
        12.96732179,  14.54164378,  15.92092191,  18.07353543,
        13.94392969,  18.06888731,  23.83802322,  27.23301041,
        25.72112087,  26.62817406,  27.45353062,  23.78147957,
        24.25360134,  22.0956205 ,  22.10997892,  26.40814226,
        30.13719341,  32.54736321,  37.22997781,  32.0339442 ,
        33.52410884,  35.16889727,  38.3587466 ,  33.52683515,
        33.04469072,  32.23854311,  32.34269864,  35.70619184,
        39.07031782,  42.0008535 ,  37.44785165,  35.59402122,
        37.68178439,  33.64617901,  34.74186092,  35.56093846,
        40.78916493,  40.7295109 ,  39.20805079,  37.56890897,
        40.03760735,  40.0649842 ,  42.06311591,  44.97736884,
        39.40885565,  40.15297574,  44.44387614,  43.39504293,
        41.63680311,  36.98956499,  33.20595882,  37.43187453,
        32.75691437,  32.40865339,  33.53838406,  29.21874315,
        27.04323131,  26.91007513,  26.67880959,  30.13103694,
        27.85299574,  25.25296957,  20.6970445 ,  25.67379907,
        27.70490577,  32.13972566,  32.52102144,  37.06568694,
        32.17430016,  34.88154154,  32.21155767,  28.07130982,
        31.53892027,  36.48092519,  31.92592171,  31.9877418 ,
        27.8176322 ,  24.98447198,  26.92463854,  26.83030852,
        30.96614293,  32.5082253 ,  33.81601112,  39.17875531,
        41.7826783 ,  37.25321105,  34.40948538,  31.69917731,
        31.86173732,  36.70266571,  36.50022413,  32.19455712,
        28.62155633,  27.67904378,  30.10904643,  25.19742975,
        24.00216057,  25.17462489,  30.57501702,  30.30099549,
        29.8855274 ,  29.42879638,  26.77079313,  31.32732187])

In [29]:
submission = pd.DataFrame({
    "id": range(1501,2001),  # 自动生成 ID
    "Predicted": pred
})
submission.to_csv("submission.csv", index=False)

In [30]:
submission

       id  Predicted
0    1501  65.883093
1    1502  66.391721
2    1503  64.348179
3    1504  64.274537
4    1505  66.710175
..    ...        ...
495  1996  30.300995
496  1997  29.885527
497  1998  29.428796
498  1999  26.770793
499  2000  31.327322

[500 rows x 2 columns]